<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yzfy.crushcupidserver.model.mapper.CrushVersionMapper">

    <resultMap id="BaseResultMap" type="cn.yzfy.crushcupidserver.model.entity.CrushVersion">
            <id property="id" column="id" />
            <result property="crushId" column="crush_id" />
            <result property="version" column="version" />
            <result property="snapshot" column="snapshot" />
            <result property="reason" column="reason" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,crush_id,version,snapshot,reason,created_at
    </sql>
</mapper>
